.Rproj.user
.Rhistory
.RData
Kitson_et_al_NMB.Rproj
data2
checking_sorting.csv
well_composition_reads_by_plate_Croydon.svg
well_composition_reads_by_plate_hardTrim.svg
R_plotting_notebook.nb.html
New_notebook
Raw_data
Processed_data