.Rproj.user
.Rhistory
.RData
Kitson_et_al_NMB.Rproj
data2
New_notebook
Raw_data
Processed_data
Old_files
combined_read_stats.csv
metaBEAT_read_stats.csv
metaBEAT_transpose.tsv
OPM2_QueryMap_test.txt
well_composition_annotate.svg
Old_diagrams
